.cardMove{
    margin-left: 250px;
}

.card{
    border: 1px solid aliceblue;
}
.adminDashLink{
    margin-left: 10px;
    text-decoration: none;
    color: wheat;
}
.adminDashLink:hover{
    color: wheat;
}
