.cardMove{
    margin-top: 40px;
}

.card{
    border: 1px solid aliceblue;
    width: 400px;
}
.divLeft{
    float: left;
}
.divRight{
    margin-left: 40px;
}

@media only screen and (max-width: 700px){
    .cardMove{
        margin-top: 40px;
    }

}
